body{
  background: var(--unnamed-color-ced2dc) 0% 0% no-repeat padding-box;
  background: #CED2DC 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  color: #424242;
  
}

h1{
  font-family: 'Lobster', cursive;
}

h3{
  font: normal normal medium 36px/55px Poppins;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
  text-align: center;
}

p{
  margin: 0;
  text-align: left;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #424242;
  opacity: 0.56;
}

span{
  color: var(--unnamed-color-ffffff);
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

#congo{
  color: #FF6600;
}


.input{
  height: 30px;
  width: 180px;
}

.tab{
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
  padding: 10px;
  cursor: pointer;
}

.P1{
  margin-top: 3%;
  background: #DCF6E4 0% 0% no-repeat padding-box;
  height:auto
}

.P2{
  background: #F6EFD5 0% 0% no-repeat padding-box;
  height:auto
}

.Games, .Turn{
  background: #EFF3FF 0% 0% no-repeat padding-box;
  height:auto
}

.NextGame{
  background: #4B7BFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 50px;
}

.sidebar{
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border: 1px solid #F7F7F7;
  border-radius: 30px;
  opacity: 1;
}

.top-container{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border: 1px solid #F7F7F7;
  border-radius: 30px;
  opacity: 1;
  width: auto;
  min-height: 560px;
  position: relative;
  margin-top: 110px;
  padding: 25px;
}


.Turn{
  margin-bottom: 30px;
}

.startgame{
  background: #4B7BFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  opacity: 1;
  width: 633px;
  height: 70px;
}

.start{
  background: #FF7243 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 50px #FF724373;
  border-radius: 20px;
  opacity: 1;
  width: 102px;
  height: 102px;
  color: #424242;
}

.end{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #4B7BFF26;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 50px;
  color: #CC0000;
}

.ModalCancel{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 50px;
  color: #4B7BFF;
}

.ModalOK{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #4B7BFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
}

.fa-play-circle{
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 10%;
}

.Banner{
  opacity: 1;
  height: 300px; 
  top: -130px;
  left: 203px;
  width: 459px;
  height: 442px;
  position: absolute;
}



.custom{
  background: #4BABFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 180px;
  height: 70px;
}

.board{
    border: 4px solid #6e7c7c;
    border-radius: 10px;
    width:350px;
    height:350px;
    margin: 100px auto 0px auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.player{
  width:50px;
  height:50px;
  margin-top: 5px;
  border-radius: 50px;
  border: 10px solid;
  padding: 20px;
  opacity: 1;
}

.gameNumber:hover{
  background-color: #78c4d4;
}

.modal-content{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #F7F7F7;
  border-radius: 30px;
  opacity: 1
}


.gameNumbers{
  padding: 20px;
  margin-bottom: 10px;
  background: #EFF3FF 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
}

.p1{
  border-color: #37AC5D;

}

.p2{
  border-color: #F8D146;
}

.games{
  border-color: #B1C4F9;
}


.online{
  background: #4B4BFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 180px;
  height: 70px;
}

.twop{
  background: #4B7BFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 180px;
  height: 70px;
}

.training{
  background: #6E4BFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 180px;
  height: 70px;
}

.hide{
  display: none;
}

@media only screen and (max-width: 700px) {
  .Banner{
    top: -130px;
    left: 103px;
    width: 459px;
    height: 442px;
    position: absolute;
  }
}

@media only screen and (min-width: 700px) {
  .Banner{
    top: -130px;
    left: 153px;
    width: 459px;
    height: 442px;
    position: absolute;
  }
}


@media only screen and (max-width: 520px) {
  .Banner{
    top: -80px;
    width: 329px;
    left: 115px;
    height: 350px;
    position: absolute;
  }

  .board{
    margin: 20px auto 0px auto;
  }

  .top-container{
    margin-top: 90px;
}

}

@media only screen and (max-width: 414px) {
  .board{
    border: 4px solid #6e7c7c;
    border-radius: 10px;
    width:280px;
    height:280px;
    margin: 100px auto 0px auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr)
  }

  .custom{
   width: 100%;
    height: 70px;
    font-size: 0.67rem
  }
    
  .online{
  width: 100%;
  height: 70px;
  font-size: 0.67rem
  }

  .twop{
    width: 100%;
    height: 70px;
    font-size: 0.67rem
  }

  .training{
    width: 100%;
    height: 70px;
    font-size: 0.67rem
  }

  .Banner{
    opacity: 1;
    top: -50px;
    left: 203px;
    width: 269px;
    height: 282px;
    position: absolute;
    left: 123px;
}

.start{
  border-radius: 20px;
  opacity: 1;
  width: 200%;
  color: #424242;
}

  
}


@media only screen and (max-width: 365px) {
  .board{
    width:200px;
    height:200px;
  }


.Banner{
    display: none;
  }

.start{
  width: 102px;
  height: 102px;
  color: #424242;
  margin-left: 165%;
}


}